// Colores primarios
$color-primary: #fff;  // Rojo oscuro
$color-secondary: #3A3A3A; // Gris oscuro
$color-terciary:#6C757D;
$color-product:#eee;

// Colores de fondo y texto
$color-background: #FFFFFF; // Blanco
$color-text: #6C757D;       // Gris claro
$color-background-btn-primary:#ff5722; // Naranja
$color-background-btn-secondary: #2d2d2d;
$color-background-product:#222;
$color-price-products:#fe4847;
$color-text-footer:#5b5b5b;
// Colores de enlace y estado
$color-link: #007BFF;        // Azul claro
$color-success: #28A745;    // Verde
$color-warning: #FFC107;    // Amarillo
$color-error: #DC3545;      // Rojo claro
