@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.3);
}
ul li a{
    text-decoration: none;
}

.container {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

header .container-logo {
    display: flex;
    gap: 15px;
}

header .container-logo i {
    color: white;
    font-size: 25px;
}

/* FIN DEL HEADER */

/* SECCIÓN DE IMAGEN DE FONDO */
main .image-background {
    background-image: url('/proyecto/assets/images/home.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

main .container {
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

main .container h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

main .container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

main .container button {
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    background-color: #ff5722;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main .container button:hover {
    background-color: #e64a19;
}

/* Formulario */

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 2rem;
}

.form{
    display: flex;
    justify-content: center;
    height: 90vh;
    padding: 70px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
}



.input-group {
    display: flex;
    align-items: center;
}

.input-icon {
    display: inline-block;
    padding: 8px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}

label {
    font-size: 16px;
    margin: 0 0 6px;
    font-family: 'Poppins', sans-serif;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

input[type="email"] {
    border-left: none;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    height: 35px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
    .form-group {
        flex: 0 1 calc(50% - 10px);
    }
    
    .form-group:nth-child(3) {
        flex: 1 1 100%;
    }
}


.footer{
    background: #2d2d2d;
    padding-top: 20px;
}

.footer .footer-contact{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.footer .footer-contact h3{
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
    line-height: 11px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;;
}

.footer .footer-contact ul li  {
    list-style:square;
}

.footer .footer-contact ul li a {
    color: #d5d5d5;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    border-bottom: 1px solid #5b5b5b;
    font-family: 'Poppins', sans-serif;;
}

.footer .footer-bottom-area{
    display: flex;
    background: #212121;
    padding: 20px 0;
    justify-content:space-around;
    gap: 40px;
}
.footer-bottom-area .copyright {
    color: #d5d5d5;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.footer-bottom-area .copyright p span{
    color:#fe4847;;
}
